# Backend / Render
PORT=10000
DATABASE_URL=postgresql://postgres.vrxzwmnrotckgvdoawdf:PushprajKumar%23DB2026!R8xQ@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
JWT_SECRET=pushpraj2007
FRONTEND_URL=https://sentinel-api2.vercel.app

# Frontend / Vercel
VITE_API_URL=https://sentinel-api-okcg.onrender.com